body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1{
    color: black;
    font-size: 43px;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}


/* host these pictures later */
.slideshow li:nth-child(1) { 
    background-image: url(https://imageshack.com/i/pnLEVlUSj) 
}

.slideshow li:nth-child(2) { 
    background-image: url(https://imageshack.com/i/pmQcIXOQj);
    animation-delay: 7s; 
}

.slideshow li:nth-child(3) { 
    background-image: url(https://imageshack.com/i/pn6OSlVpj);
    animation-delay: 14s; 
}

.slideshow li:nth-child(4) { 
    background-image: url(https://imageshack.com/i/poW5ET2Rj);
    animation-delay: 21s; 
}

.slideshow li:nth-child(5) {   
    background-image: url(https://imageshack.com/i/pmpWZ0t7j);
    animation-delay: 28s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}