<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoopFinder Registration</title>
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'hoopfinder/css/styles.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="../../static/hoopfinder/css/styles.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>
<body>
    <div class="container" id="registrationbody">
        <div class="container">
            <div class = "navigationbar">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">HoopFinder!</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/map">Maps</a>
                        <a class="nav-item nav-link" href="/user_dashboard">Users</a>
                        <a class="nav-item nav-link" href="/courts">Courts</a>
                        <a class="nav-item nav-link" href="/registration">Register</a>

                        {%if request.session.userid == 0 %}
                        <a class="nav-item nav-link" href="/login">Login</a>
                        {% else %}
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                        {% endif %}
                        </div>
                    </div>
                </nav>
            </div>       <!-- end of navigationbar -->
    
        <div class="col-md-5 center-block">
            <div class = "registrationdiv">
                <h3>Register</h3>
                <div class="boxmargin">
                    <form action="/register" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <span  id="iconmargin1" class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control form-control-sm" name="first_name" placeholder ="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span  id="iconmargin1" class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control form-control-sm" name="last_name" placeholder ="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control form-control-sm" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span id="iconmargin" class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                <input type="password" class="form-control form-control-sm" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span id="iconmargin" class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true" class="iconmargin"></i></span>
                                <input type="password" class="form-control form-control-sm" name="confpassword" placeholder="Confirm Password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                        <p class="signinp">Already have an account? <a href="/">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>


        
    </div>  <!-- end of container -->
    
</body>
</html>